openapi: 3.2.0
info:
  title: Civitai Site Users API
  version: '1.0'
  description: 'Browse and search the Civitai public catalog of Stable Diffusion, SDXL, Flux, and video models.

    Exposes models, model versions, images, creators, tags, users, permissions, and the user vault.

    Public read endpoints are cached; authenticated endpoints are not. Authenticate with a personal

    API key issued at civitai.com using a Bearer token.

    '
  contact:
    name: Civitai Developer Support
    url: https://developer.civitai.com/
  termsOfService: https://civitai.com/content/tos
  license:
    name: Civitai Terms of Service
    url: https://civitai.com/content/tos
servers:
- url: https://civitai.com/api/v1
  description: Civitai Site API
security:
- BearerAuth: []
- {}
tags:
- name: Users
  description: User accounts.
paths:
  /me:
    get:
      operationId: getCurrentUser
      summary: Get Current User
      tags:
      - Users
      security:
      - BearerAuth: []
      responses:
        '200':
          description: Authenticated user profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /users:
    get:
      operationId: listUsers
      summary: List Users
      tags:
      - Users
      parameters:
      - name: username
        in: query
        schema:
          type: string
      - name: limit
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: Matching users.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
components:
  schemas:
    User:
      type: object
      properties:
        id:
          type: integer
        username:
          type: string
        email:
          type: string
        image:
          type: string
          format: uri
        tier:
          type: string
          enum:
          - Free
          - Founder
          - Bronze
          - Silver
          - Gold
        createdAt:
          type: string
          format: date-time
    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
        code:
          type: string
  responses:
    Unauthorized:
      description: Missing or invalid bearer token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: token
      description: Personal API token issued at https://civitai.com/user/account.
