openapi: 3.2.0
info:
  title: Civitai Site Creators API
  version: '1.0'
  description: 'Browse and search the Civitai public catalog of Stable Diffusion, SDXL, Flux, and video models.

    Exposes models, model versions, images, creators, tags, users, permissions, and the user vault.

    Public read endpoints are cached; authenticated endpoints are not. Authenticate with a personal

    API key issued at civitai.com using a Bearer token.

    '
  contact:
    name: Civitai Developer Support
    url: https://developer.civitai.com/
  termsOfService: https://civitai.com/content/tos
  license:
    name: Civitai Terms of Service
    url: https://civitai.com/content/tos
servers:
- url: https://civitai.com/api/v1
  description: Civitai Site API
security:
- BearerAuth: []
- {}
tags:
- name: Creators
  description: Users who publish models.
paths:
  /creators:
    get:
      operationId: listCreators
      summary: List Creators
      tags:
      - Creators
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
          default: 20
          maximum: 200
      - name: page
        in: query
        schema:
          type: integer
      - name: query
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Page of creators.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatorPage'
components:
  schemas:
    Creator:
      type: object
      properties:
        username:
          type: string
        image:
          type: string
          format: uri
        modelCount:
          type: integer
        link:
          type: string
          format: uri
    CreatorPage:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Creator'
        metadata:
          $ref: '#/components/schemas/Metadata'
    Metadata:
      type: object
      properties:
        currentPage:
          type: integer
        pageSize:
          type: integer
        nextPage:
          type: string
        prevPage:
          type: string
        totalItems:
          type: integer
        totalPages:
          type: integer
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: token
      description: Personal API token issued at https://civitai.com/user/account.
