openapi: 3.2.0
info:
  title: Civitai Site Permissions API
  version: '1.0'
  description: 'Browse and search the Civitai public catalog of Stable Diffusion, SDXL, Flux, and video models.

    Exposes models, model versions, images, creators, tags, users, permissions, and the user vault.

    Public read endpoints are cached; authenticated endpoints are not. Authenticate with a personal

    API key issued at civitai.com using a Bearer token.

    '
  contact:
    name: Civitai Developer Support
    url: https://developer.civitai.com/
  termsOfService: https://civitai.com/content/tos
  license:
    name: Civitai Terms of Service
    url: https://civitai.com/content/tos
servers:
- url: https://civitai.com/api/v1
  description: Civitai Site API
security:
- BearerAuth: []
- {}
tags:
- name: Permissions
  description: Permission checks for the current bearer.
paths:
  /permissions/check:
    get:
      operationId: checkPermissions
      summary: Check Permissions
      tags:
      - Permissions
      security:
      - BearerAuth: []
      parameters:
      - name: entityType
        in: query
        required: true
        schema:
          type: string
          enum:
          - Model
          - ModelVersion
          - Image
          - Post
          - Article
      - name: entityId
        in: query
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Permission decisions for the current bearer.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PermissionResult'
components:
  schemas:
    PermissionResult:
      type: object
      properties:
        entityType:
          type: string
        entityId:
          type: integer
        canView:
          type: boolean
        canEdit:
          type: boolean
        canDelete:
          type: boolean
        canDownload:
          type: boolean
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: token
      description: Personal API token issued at https://civitai.com/user/account.
