openapi: 3.2.0
info:
  title: Civitai Site Vault API
  version: '1.0'
  description: 'Browse and search the Civitai public catalog of Stable Diffusion, SDXL, Flux, and video models.

    Exposes models, model versions, images, creators, tags, users, permissions, and the user vault.

    Public read endpoints are cached; authenticated endpoints are not. Authenticate with a personal

    API key issued at civitai.com using a Bearer token.

    '
  contact:
    name: Civitai Developer Support
    url: https://developer.civitai.com/
  termsOfService: https://civitai.com/content/tos
  license:
    name: Civitai Terms of Service
    url: https://civitai.com/content/tos
servers:
- url: https://civitai.com/api/v1
  description: Civitai Site API
security:
- BearerAuth: []
- {}
tags:
- name: Vault
  description: A user's saved-model vault (membership tiers).
paths:
  /vault/get:
    get:
      operationId: getVaultItem
      summary: Get Vault Item
      tags:
      - Vault
      security:
      - BearerAuth: []
      parameters:
      - name: modelVersionId
        in: query
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Vault item.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VaultItem'
  /vault/all:
    get:
      operationId: getAllVaultItems
      summary: Get All Vault Items
      tags:
      - Vault
      security:
      - BearerAuth: []
      responses:
        '200':
          description: All vault items for the current user.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/VaultItem'
  /vault/check-vault:
    get:
      operationId: checkVault
      summary: Check Vault Status
      tags:
      - Vault
      security:
      - BearerAuth: []
      responses:
        '200':
          description: Vault subscription/storage status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VaultStatus'
  /vault/toggle-version:
    post:
      operationId: toggleVaultVersion
      summary: Toggle Vault Version
      tags:
      - Vault
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - modelVersionId
              properties:
                modelVersionId:
                  type: integer
      responses:
        '200':
          description: Vault item after toggle.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VaultItem'
components:
  schemas:
    VaultStatus:
      type: object
      properties:
        subscribed:
          type: boolean
        storageUsedKb:
          type: number
        storageLimitKb:
          type: number
        tier:
          type: string
    VaultItem:
      type: object
      properties:
        id:
          type: integer
        modelVersionId:
          type: integer
        modelId:
          type: integer
        addedAt:
          type: string
          format: date-time
        status:
          type: string
          enum:
          - Pending
          - Stored
          - Failed
        sizeKb:
          type: number
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: token
      description: Personal API token issued at https://civitai.com/user/account.
